.side-projects-icon {
    display: inline;
    margin: 0px 0px -3px 0px !important;
}

.post-content p {
    text-align: justify;
}

/* Description text for glightbox. Default color is not visible in dark mode. */
.gslide-desc {
    color: black;
}